input[type=checkbox]{
    display: none;
}


label {
    cursor: pointer;
    width: 36px;
    height: 20px;
    display: block;
    border: 1px solid #FFFF;
    position: relative; border-radius: 18px;
}

label::after {
    content:"";
    position: absolute;
    width: 18px;
    height: 18px;
    border-radius: 100%;
    top: 3px;
    right: 3px;
    background-color: #ffff;
}

input:checked+label::after{
    transform: translateX(100%);
    right: calc(100% - 2px);
}